<html ng-app="titledbApp" style="background-color:#e2e2e2">

	<head>

		<!-- Roboto Font -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<!-- MaterialDesignIcons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Custom Styling -->
		<link rel="stylesheet" href="css/custom.css" />

		<!-- AngularJS -->
		<link rel="stylesheet" href="css/angular-material.min.css">
		<script src="js/angular.min.js"></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/angular-aria.min.js"></script>
		<script src="js/angular-messages.min.js"></script>
		<script src="js/angular-cookies.min.js"></script>
		<script src="js/angular-material.min.js"></script>
		<script src="js/constants.js"></script>

		<!-- jQuery -->
		<script src="js/jquery.min.js"></script>

		<!-- Video Player -->
		<link href="css/video-js.css" rel="stylesheet">
		<script src="js/video-js.js"></script>
		<!-- ¬ Resolution-Switcher -->
		<link href="css/videojs-resolution-switcher.css" rel="stylesheet" type="text/css" />
		<script src="js/videojs-resolution-switcher.js"></script>
		<script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>

		<!-- Angular Controllers -->
		<script src="js/main.js"></script>

		<script>
		const remote = require('electron').remote;

		document.addEventListener("keydown", function (e) {
			if (e.which === 123) {
				remote.getCurrentWindow().toggleDevTools();
			}
			if (!e.metaKey) {
				if(e.keyCode >= 65 && event.keyCode <= 90 || e.keyCode >= 48 && event.keyCode <= 57) {
					document.getElementById("search").focus();
				}
			}
		});
		document.addEventListener("keyup", function (e) {
			if (e.keyCode == 27) {
				searchQuery = '';
			}
		});
		var WebTorrent = require('webtorrent');
		</script>

	</head>

	<body ng-controller="TitleListController">

		<div layout="column" layout-fill>

			<md-toolbar style="background-color:#fff;color:#555">
				<!-- TitleBar - Search & Combobox -->
				<div class="md-toolbar-tools" style="z-index:2;border-bottom:#e5e5e5 solid;border-bottom-width:1px;-webkit-app-region: drag">
					<!--img ng-src="logo.png" style="height:60%"-->
					<input ng-model="searchQuery" placeholder="Type anywhere to search..." class="search" id="search" value="" init-from-form>
					<md-button class="md-icon-button" ng-click="searchQuery = ''" ng-show="searchQuery" style="display:inline-flex;-webkit-app-region: no-drag"><md-icon class="material-icons">close</md-icon></md-button>
					<span flex></span>
					<md-button class="md-icon-button" aria-label="Open Settings" ng-click="data.selectedIndex=4" style="-webkit-app-region: no-drag"><md-icon class="material-icons">settings</md-icon></md-button>
					<md-button class="md-icon-button" onclick="remote.getCurrentWindow().minimize()" style="-webkit-app-region: no-drag"><md-icon class="material-icons">expand_more</md-icon></md-button>
					<md-button class="md-icon-button" onclick="remote.getCurrentWindow().maximize()" style="-webkit-app-region: no-drag"><md-icon class="material-icons">expand_less</md-icon></md-button>
					<md-button class="md-icon-button" onclick="remote.getCurrentWindow().close()" style="-webkit-app-region: no-drag"><md-icon class="material-icons">close</md-icon></md-button>
				</div>
				<!-- TitleBar - Tabs -->
				<md-tabs md-stretch-tabs class="md-whiteframe-2dp" md-selected="data.selectedIndex" style="z-index:1">
					<md-tab aria-controls="movies-page">Movies</md-tab>
					<md-tab aria-controls="tv-page">TV Shows</md-tab>
					<md-tab aria-controls="anime-page">Anime</md-tab>
					<md-tab aria-controls="watch-page">Watch Page</md-tab>
					<md-tab aria-controls="config-page">Settings</md-tab>
				</md-tabs>
			</md-toolbar>

			<md-content flex layout-fill style="background-color:#e2e2e2">
				
				<ng-switch on="data.selectedIndex" class="tabpanel-container" style="background-color:#e2e2e2">
					
					<div role="tabpanel" id="movies-page" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" layout-padding>

						<md-tabs md-dynamic-height md-border-bottom style="padding:0">

						  	<md-tab label="Newest">
								<md-content style="background-color:#e2e2e2" layout-margin style="margin:12;padding-top:4">
									
									<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-cols-xl="10" md-row-height="2:3" md-gutter="6px">

										<md-grid-tile ng-repeat="movie in movies.data.movies | filter : searchQuery" class="md-whiteframe-2dp" md-colspan-sm="1" md-colspan-xs="1">
											<img ng-src="{{movie.large_cover_image}}" class="md-card-image" style="width:100%;height:100%">
											<md-grid-tile-footer style="background:rgba(0,0,0,0);height:100%;z-index:4" ng-click="data.selectedIndex=3;initShow(movie)"></md-grid-tile-footer>
										</md-grid-tile>

									</md-grid-list>

								</md-content>
						  	</md-tab>

						  	<md-tab label="Action">
								<md-content style="background-color:#e2e2e2" layout-margin style="margin:12;padding-top:4">
								  
									<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-cols-xl="10" md-row-height="2:3" md-gutter="6px">

										<md-grid-tile ng-repeat="movie in movies.action.data.movies | filter : searchQuery" class="md-whiteframe-2dp" md-colspan-sm="1" md-colspan-xs="1">
											<img ng-src="{{movie.large_cover_image}}" class="md-card-image" style="width:100%;height:100%">
											<md-grid-tile-footer style="background:rgba(0,0,0,0);height:100%;z-index:4" ng-click="data.selectedIndex=3;initShow(movie)"></md-grid-tile-footer>
										</md-grid-tile>

									</md-grid-list>

								</md-content>
						  	</md-tab>

						  	<md-tab label="Comedy">
								<md-content style="background-color:#e2e2e2" layout-margin style="margin:12;padding-top:4">
								  
									<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-cols-xl="10" md-row-height="2:3" md-gutter="6px">

										<md-grid-tile ng-repeat="movie in movies.comedy.data.movies | filter : searchQuery" class="md-whiteframe-2dp" md-colspan-sm="1" md-colspan-xs="1">
											<img ng-src="{{movie.large_cover_image}}" class="md-card-image" style="width:100%;height:100%">
											<md-grid-tile-footer style="background:rgba(0,0,0,0);height:100%;z-index:4" ng-click="data.selectedIndex=3;initShow(movie)"></md-grid-tile-footer>
										</md-grid-tile>

									</md-grid-list>

								</md-content>
						  	</md-tab>

						</md-tabs>

					</div>

					<div role="tabpanel" id="tv-page" ng-controller="tv-page" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" layout-padding style="margin:12;padding-top:0">

						<!-- List all Shows -->
						<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-cols-xl="10" md-row-height="2:3" md-gutter="8px">

							<md-grid-tile ng-repeat="show in shows | filter : searchQuery" class="md-whiteframe-2dp" md-colspan-sm="1" md-colspan-xs="1">
								<md-grid-tile-footer style="background:rgba(0,0,0,0);height:100%;z-index:4" ng-click="data.selectedIndex=3;initShow(show)"></md-grid-tile-footer>
								<img ng-src="{{show.poster}}" class="md-card-image" style="width:100%;height:100%">
							</md-grid-tile>

						</md-grid-list>

					</div>

					<div role="tabpanel" id="anime-page" ng-controller="anime-page" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()" layout-padding style="margin:12;padding-top:0">

						<!-- List all Anime -->
						<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-cols-xl="10" md-row-height="2:3" md-gutter="8px">

							<md-grid-tile ng-repeat="anim in anime | filter : searchQuery" class="md-whiteframe-2dp" md-colspan-sm="1" md-colspan-xs="1">
								<md-grid-tile-footer style="background:rgba(0,0,0,0);height:100%;z-index:4" ng-click="data.selectedIndex=3;initShow(anim)"></md-grid-tile-footer>
								<img ng-src="{{anim.poster}}" class="md-card-image" alt="{{anim.name}}" style="width:100%;height:100%">
							</md-grid-tile>

						</md-grid-list>

					</div>

					<div role="tabpanel" id="watch-page" aria-labelledby="tab3" ng-switch-when="3" md-swipe-left="next()" md-swipe-right="previous()" layout-align="center center">

						<style>
						.MoviePanel {
							height:544px
						}
						.TvPanel {
							height:544px
						}
						#watchPlayer {
							display:inline-block;
							width:auto;
							height:340;
							margin:0 auto;
							line-height:340px
						}
						#watchPlayer > video {
							object-fit:fill;
							width:auto;
							height:340;
							margin:0 auto;
							background:black
						}
						#watchPlayer > img,
						#watchPlayer > iframe {
							display:none
						}
						</style>
						<div ng-class="show.seasons[0].episodes ? 'TvPanel' : 'MoviePanel'" style='position:relative;background-image:linear-gradient(to bottom, rgba(226,226,226,0.6) 0%,rgba(226,226,226,0.6) 100%),url("{{backdrop}}");text-align:center;background-size:100%'>
							<div style="padding-top:74px">
								<img ng-src="{{poster}}" class="md-whiteframe-5dp" style="float:left;margin-left:44px;display:inline-block;width:auto;height:340px">
								<span ng-init="loadMovie(show)" ng-if="!show.seasons[0].episodes"></span>
								<span ng-init="loadShow(show)" ng-if="show.seasons[0].episodes"></span>
								<span id="watchPlayer">
									<script id="createPlayer"></script>
									<video id="player" autoplay controls src="null" ng-if="show.seasons[0].episodes"></video>
								</span>
							</div>
							<div class="gradient-2"></div>
						</div>

						<!-- List all the episodes for the selected show -->
						<div style="padding:20px" ng-if="show.seasons[0].episodes">

							<span ng-repeat="season in show.seasons">
								<h3>Season {{season.num}}</h3>
								<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-cols-xl="10" md-row-height="16:9" md-gutter="8px">

									<md-grid-tile ng-repeat="episode in season.episodes" class="md-whiteframe-2dp" md-colspan-sm="1" md-colspan-xs="1">
										<md-grid-tile-header style="background:rgba(0,0,0,0);height:100%" ng-click="data.selectedIndex=3;loadShow(episode)"></md-grid-tile-header>
										<md-grid-tile-footer style="background:linear-gradient(to bottom,rgba(40,44,52,0),rgba(40,44,52,0.8));height:26px" ng-click="data.selectedIndex=3;loadShow(episode)"><h3 style="text-shadow:1px 1px 2px rgba(0,0,0,0.5)">#{{episode.num}}</h3></md-grid-tile-footer>
										<img ng-src="{{episode.screenshot}}" class="md-card-image" alt="{{show.name}}" style="width:100%;height:100%">
									</md-grid-tile>

								</md-grid-list>
							</span>

						</div>

						<!-- List all the episodes for the selected show -->
						<div style="padding:20px" ng-if="!show.seasons[0].episodes">

							<h3>Newest Movies</h3>
							<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-cols-xl="10" md-row-height="2:3" md-gutter="8px">

								<md-grid-tile ng-repeat="movie in movies.suggestions.data.movies|limitTo:12" class="md-whiteframe-2dp" md-colspan-sm="1" md-colspan-xs="1">
									<md-grid-tile-header style="background:rgba(0,0,0,0);height:100%" ng-click="data.selectedIndex=3;loadMovie(movie)"></md-grid-tile-header>
									<md-grid-tile-footer style="background:linear-gradient(to bottom,rgba(40,44,52,0),rgba(40,44,52,0.8));height:26px" ng-click="data.selectedIndex=3;loadMovie(movie)"></md-grid-tile-footer>
									<img ng-src="{{movie.medium_cover_image}}" class="md-card-image" style="width:100%;height:100%">
								</md-grid-tile>

							</md-grid-list>

						</div>

					</div>

					<div role="tabpanel" id="config-page" aria-labelledby="tab4" ng-switch-when="4" md-swipe-left="next()" md-swipe-right="previous()" layout-align="center center" layout-margin>

						<h3>Soon!</h3>

					</div>
				
				</ng-switch>

			</md-content>

		</div>

		<div id="gradient"></div>

	</body>

</html>