<html ng-app="app">

	<head>

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- CSS -->
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/angular-material.min.css">

		<!-- AngularJS -->
		<script src="js/angular.min.js"></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/angular-aria.min.js"></script>
		<script src="js/angular-messages.min.js"></script>
		<script src="js/angular-cookies.min.js"></script>
		<script src="js/angular-material.min.js"></script>
		<script src="js/constants.js"></script>

		<!-- jQuery -->
		<script src="js/jquery.min.js"></script>
		<script src="js/angular-inview.js"></script>

		<!-- WebTorrent -->
		<script src="js/webtorrent.min.js"></script>

		<!-- Main -->
		<script src="js/main.js"></script>

	</head>

	<body ng-controller="TitleListController">

		<div layout="column" layout-fill>

			<!-- Toolbar -->
			<md-toolbar style="background-color:#fff;color:#555">

				<!-- Search & Combobox -->
				<div class="md-toolbar-tools">

					<!-- Logo -->
					<img ng-src="logo.png" style="height:100%">

					<!-- Search -->
					<input ng-model="searchQuery" ng-model-options="{debounce:500}" ng-change="search()" placeholder="Type anywhere to search..." class="search" id="search" value="" init-from-form>
					<md-button class="md-icon-button" ng-click="searchQuery = '';searching = false;" ng-show="searchQuery" style="display:inline-flex;-webkit-app-region: no-drag"><md-icon class="material-icons">close</md-icon></md-button>

					<span flex></span>

					<!-- Settings Button -->
					<md-button class="md-icon-button" aria-label="Open Settings" ng-click="selectedIndex=3" style="-webkit-app-region:no-drag;display:none"><md-icon class="material-icons">settings</md-icon></md-button>

					<!-- Combobox -->
					<md-button class="md-icon-button" onclick="remote.getCurrentWindow().minimize()" style="-webkit-app-region:no-drag"><md-icon class="material-icons">expand_more</md-icon></md-button>
					<md-button class="md-icon-button" onclick="remote.getCurrentWindow().maximize()" style="-webkit-app-region:no-drag"><md-icon class="material-icons">expand_less</md-icon></md-button>
					<md-button class="md-icon-button" onclick="remote.getCurrentWindow().close()" style="-webkit-app-region:no-drag"><md-icon class="material-icons">close</md-icon></md-button>

				</div>

				<!-- Tabs -->
				<md-tabs md-stretch-tabs class="md-whiteframe-2dp" md-selected="selectedIndex" style="z-index:1">
					<md-tab>Movies</md-tab>
					<md-tab>TV Shows</md-tab>
					<md-tab>Watch Page</md-tab>
					<md-tab>Settings</md-tab>
				</md-tabs>

			</md-toolbar>

			<md-content flex layout-fill style="background-color:#e2e2e2">

				<ng-switch on="selectedIndex" class="tabpanel-container" style="background-color:#e2e2e2">

					<!-- Movies Tab -->
					<div role="tabpanel" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" layout-padding>
						
						<!-- Search Results Grid -->
						<span ng-if="searching == true" style="padding:0">
							<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-cols-xl="10" md-row-height="2:3" md-gutter="6px" style="margin:12;padding-top:0">
								<md-grid-tile ng-repeat="movie in movies['Search']['data']['movies']" class="md-whiteframe-2dp" md-colspan-sm="1" md-colspan-xs="1">
									<md-grid-tile-header style="background:linear-gradient(to top,rgba(40,44,52,0),rgba(40,44,52,0.8))">
										<span layout="row" layout-align="end center" layout-fill>
											<md-button ng-if="!inFavs(movie.title)" class="md-icon-button" ng-click="fav(movie)" style="color:#e6e8f5;z-index:5"><md-icon class="material-icons" style="color:#e6e8f5">star_outline</md-icon></md-button>
											<md-button ng-if="inFavs(movie.title)" class="md-icon-button" ng-click="unfav(movie.title)" style="color:#e6e8f5;z-index:5"><md-icon class="material-icons" style="color:yellow">star</md-icon>
										</span>
									</md-grid-tile-header>
									<img ng-src="{{movie.medium_cover_image}}" class="md-card-image" style="width:100%;height:100%">
									<md-grid-tile-footer ng-if="!movies.watched.includes(movie.title)" style="background:rgba(0,0,0,0);height:100%;z-index:4" ng-click="initMovie(movie)"></md-grid-tile-footer>
									<md-grid-tile-footer ng-if="movies.watched.includes(movie.title)" style="background:rgba(160,160,160,0.75);height:100%;z-index:4" ng-click="initMovie(movie)"></md-grid-tile-footer>
								</md-grid-tile>
							</md-grid-list>
							<span in-view="moreMovies($inview,'Newest')" ng-show="searching == false">Loading more...</span>
							<span ng-show="searching == true && results == false">No results...</span>
						</span>

						<!-- Browse Tabs -->
						<md-tabs md-dynamic-height md-border-bottom ng-if="searching == false" style="padding:0">

							<!-- Newest -->
							<md-tab label="Newest">
								<md-content style="background-color:#e2e2e2" layout-margin style="margin:12;padding-top:4">
									<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-cols-xl="10" md-row-height="2:3" md-gutter="6px">
										<md-grid-tile ng-repeat="movie in movies['Newest']['data']['movies']" class="md-whiteframe-2dp" md-colspan-sm="1" md-colspan-xs="1">
											<md-grid-tile-header style="background:linear-gradient(to top,rgba(40,44,52,0),rgba(40,44,52,0.8));height:56px">
												<span layout="row" layout-align="end center" layout-fill>
													<span ng-if="movies.watched.includes(movie.title)" ng-click="initMovie(movie)" class="corner-ribbon">Watched</span>
													<md-button ng-if="!inFavs(movie.title)" class="md-icon-button" ng-click="fav(movie)" style="color:#e6e8f5;z-index:5"><md-icon class="material-icons" style="color:#e6e8f5">star_outline</md-icon></md-button>
													<md-button ng-if="inFavs(movie.title)" class="md-icon-button" ng-click="unfav(movie.title)" style="color:#e6e8f5;z-index:5"><md-icon class="material-icons" style="color:yellow">star</md-icon>
												</span>
											</md-grid-tile-header>
											<div class="md-card-image" ng-if="!movies.watched.includes(movie.title)" ng-click="initMovie(movie)" style='background-size:cover;background-image:url("{{movie.medium_cover_image}}");width:100%;height:100%'></div>
											<div class="md-card-image" ng-if="movies.watched.includes(movie.title)" ng-click="initMovie(movie)" style='background-size:cover;background-image:linear-gradient(to bottom, rgba(200,200,200,0.8) 0%,rgba(200,200,200,0.8) 100%),url("{{movie.medium_cover_image}}");width:100%;height:100%'></div>
											<md-grid-tile-footer ng-if="!movies.watched.includes(movie.title)" ng-click="initMovie(movie)" style="background:rgba(0,0,0,0);height:100%;z-index:4"></md-grid-tile-footer>
										</md-grid-tile>
									</md-grid-list>
									<span in-view="moreMovies($inview,'Newest')" ng-show="searching == false">Loading more...</span>
									<span ng-show="searching == true && results == false">No results...</span>
								</md-content>
							</md-tab>

							<!-- Watchlist -->
							<md-tab label="Watchlist">
								<md-content style="background-color:#e2e2e2" layout-margin style="margin:12;padding-top:4">
									<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-cols-xl="10" md-row-height="2:3" md-gutter="6px">
										<md-grid-tile ng-repeat="movie in movies['Watchlist']" class="md-whiteframe-2dp" md-colspan-sm="1" md-colspan-xs="1" ng-if="movie.medium_cover_image">
											<md-grid-tile-header style="background:linear-gradient(to top,rgba(40,44,52,0),rgba(40,44,52,0.8));height:56px">
												<span layout="row" layout-align="end center" layout-fill>
													<span ng-if="movies.watched.includes(movie.title)" ng-click="initMovie(movie)" class="corner-ribbon">Watched</span>
													<md-button class="md-icon-button" ng-click="unfav(movie.title)" style="color:#e6e8f5;z-index:5"><md-icon class="material-icons" style="color:yellow">star</md-icon>
												</span>
											</md-grid-tile-header>
											<div class="md-card-image" ng-if="!movies.watched.includes(movie.title)" ng-click="initMovie(movie)" style='background-size:cover;background-image:url("{{movie.medium_cover_image}}");width:100%;height:100%'></div>
											<div class="md-card-image" ng-if="movies.watched.includes(movie.title)" ng-click="initMovie(movie)" style='background-size:cover;background-image:linear-gradient(to bottom, rgba(200,200,200,0.8) 0%,rgba(200,200,200,0.8) 100%),url("{{movie.medium_cover_image}}");width:100%;height:100%'></div>
											<md-grid-tile-footer ng-if="!movies.watched.includes(movie.title)" ng-click="initMovie(movie)" style="background:rgba(0,0,0,0);height:100%;z-index:4" ng-click="initMovie(movie)"></md-grid-tile-footer>
										</md-grid-tile>
									</md-grid-list>
								</md-content>
							</md-tab>

							<!-- Genre Tabs -->
							<span ng-repeat="tab in movie_tabs">
								<md-tab label="{{tab}}">
									<md-content style="background-color:#e2e2e2" layout-margin style="margin:12;padding-top:4">
										<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-cols-xl="10" md-row-height="2:3" md-gutter="6px">
											<md-grid-tile ng-repeat="movie in movies[tab]['data']['movies']" class="md-whiteframe-2dp" md-colspan-sm="1" md-colspan-xs="1">
												<md-grid-tile-header style="background:linear-gradient(to top,rgba(40,44,52,0),rgba(40,44,52,0.8));height:56px">
													<span layout="row" layout-align="end center" layout-fill>
														<span ng-if="movies.watched.includes(movie.title)" ng-click="initMovie(movie)" class="corner-ribbon">Watched</span>
														<md-button ng-if="!inFavs(movie.title)" class="md-icon-button" ng-click="fav(movie)" style="color:#e6e8f5;z-index:5"><md-icon class="material-icons" style="color:#e6e8f5">star_outline</md-icon></md-button>
														<md-button ng-if="inFavs(movie.title)" class="md-icon-button" ng-click="unfav(movie.title)" style="color:#e6e8f5;z-index:5"><md-icon class="material-icons" style="color:yellow">star</md-icon>
													</span>
												</md-grid-tile-header>
												<div class="md-card-image" ng-if="!movies.watched.includes(movie.title)" ng-click="initMovie(movie)" style='background-size:cover;background-image:url("{{movie.medium_cover_image}}");width:100%;height:100%'></div>
												<div class="md-card-image" ng-if="movies.watched.includes(movie.title)" ng-click="initMovie(movie)" style='background-size:cover;background-image:linear-gradient(to bottom, rgba(200,200,200,0.8) 0%,rgba(200,200,200,0.8) 100%),url("{{movie.medium_cover_image}}");width:100%;height:100%'></div>
												<md-grid-tile-footer ng-if="!movies.watched.includes(movie.title)" ng-click="initMovie(movie)" style="background:rgba(0,0,0,0);height:100%;z-index:4" ng-click="initMovie(movie)"></md-grid-tile-footer>
											</md-grid-tile>
										</md-grid-list>
										<span in-view="moreMovies($inview,tab)">Loading more...</span>
									</md-content>
								</md-tab>
							</span>

						</md-tabs>

					</div>

					<!-- TV-Shows Tab -->
					<div role="tabpanel" ng-controller="tv-page" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" layout-padding style="margin:12;padding-top:0">
						
						<md-tabs md-dynamic-height md-border-bottom style="padding:0">

							<md-tab label="Popular">
								<md-content style="background-color:#e2e2e2" layout-margin style="margin:12;padding-top:4">
									<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-cols-xl="10" md-row-height="2:3" md-gutter="8px">
										<md-grid-tile ng-repeat="show in shows | filter:searchQuery" class="md-whiteframe-2dp" md-colspan-sm="1" md-colspan-xs="1">
											<md-grid-tile-header style="background:linear-gradient(to top,rgba(40,44,52,0),rgba(40,44,52,0.8))">
												<span layout="row" layout-align="end center" layout-fill>
													<md-button ng-if="!inFavs(show.title)" class="md-icon-button" ng-click="fav(show)" style="color:#e6e8f5;z-index:5"><md-icon class="material-icons" style="color:#e6e8f5">star_outline</md-icon></md-button>
													<md-button ng-if="inFavs(show.title)" class="md-icon-button" ng-click="unfav(show.title)" style="color:#e6e8f5;z-index:5"><md-icon class="material-icons" style="color:yellow">star</md-icon>
												</span>
											</md-grid-tile-header>
											<md-grid-tile-footer style="background:rgba(0,0,0,0);height:100%;z-index:4" ng-click="initTVShow(show)"></md-grid-tile-footer>
											<img ng-src="{{show.images.poster}}" class="md-card-image" style="width:100%;height:100%">
										</md-grid-tile>
									</md-grid-list>
									<span in-view="moreTVShows($inview)">Loading more...</span>
								</md-content>
							</md-tab>

							<md-tab label="Watchlist">
								<md-content style="background-color:#e2e2e2" layout-margin style="margin:12;padding-top:4">
									<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-cols-xl="10" md-row-height="2:3" md-gutter="6px">
										<md-grid-tile ng-repeat="show in shows_fav | filter:searchQuery" class="md-whiteframe-2dp" md-colspan-sm="1" md-colspan-xs="1" ng-if="show.images.poster">
											<md-grid-tile-header style="background:linear-gradient(to top,rgba(40,44,52,0),rgba(40,44,52,0.8))">
												<span layout="row" layout-align="end center" layout-fill>
													<md-button class="md-icon-button" ng-click="unfav(show.title)" style="color:#e6e8f5;z-index:5"><md-icon class="material-icons" style="color:yellow">star</md-icon>
												</span>
											</md-grid-tile-header>
											<img ng-src="{{show.images.poster}}" class="md-card-image" style="width:100%;height:100%">
											<md-grid-tile-footer style="background:rgba(0,0,0,0);height:100%;z-index:4" ng-click="initTVShow(show)"></md-grid-tile-footer>
										</md-grid-tile>
									</md-grid-list>
								</md-content>
							</md-tab>

						</md-tabs>

					</div>

					<!-- Watch Tab -->
					<div role="tabpanel" id="watch-page" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()" layout-align="center center">
						<div style='height:544px;position:relative;background-image:linear-gradient(to bottom, rgba(226,226,226,0.6) 0%,rgba(226,226,226,0.6) 100%),url("{{backdrop}}");text-align:center;background-size:cover;background-repeat:no-repeat'>
							<div style="padding-top:74px" id="playerContainer">
								<img ng-src="{{poster}}" ng-show="poster != null" class="md-whiteframe-5dp" style="float:left;margin-left:44px;display:inline-block;width:auto;height:340px">
								<span ng-init="loadMovie(show)" ng-if="show.torrents"></span>
								<span id="watchPlayer"></span>
							</div>
							<div class="gradient-2"></div>
						</div>
						<div style="padding:20px" ng-if="!show.medium_cover_image">
							<span ng-repeat="season in seasons">
								<span ng-if="season[0].season">
									<h3>Season {{season[0].season}}</h3>
									<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-cols-xl="10" md-row-height="16:9" md-gutter="8px">
										<md-grid-tile ng-repeat="episode in season" class="md-whiteframe-2dp" md-colspan-sm="1" md-colspan-xs="1" style="overflow:hidden">
											<span ng-if="watched.episodes.includes(episode.tvdb_id+'-'+episode.title)" class="corner-ribbon" style="pointer-events:none">Watched</span>
											<div class="md-card-image focus" ng-if="!watched.episodes.includes(episode.tvdb_id+'-'+episode.title)" ng-click="loadTVShow(episode)" style='background-size:cover;background-image:url("{{episode.image.original}}");width:100%;height:100%'></div>
											<div class="md-card-image focus" ng-if="watched.episodes.includes(episode.tvdb_id+'-'+episode.title)" ng-click="loadTVShow(episode)" style='background-size:cover;background-image:linear-gradient(to bottom, rgba(200,200,200,0.8) 0%,rgba(200,200,200,0.8) 100%),url("{{episode.image.original}}");width:100%;height:100%'></div>
											<md-grid-tile-footer style="pointer-events:none;background:linear-gradient(to bottom,rgba(40,44,52,0),rgba(40,44,52,0.8));height:26px">
												<h4 style="text-shadow:1px 1px 2px rgba(0,0,0,0.5);width:85%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">#{{episode.episode}} - {{episode.title}}</h4>
											</md-grid-tile-footer>
										</md-grid-tile>
									</md-grid-list>
								</span>
							</span>
						</div>
						<div style="padding:20px" ng-if="show.medium_cover_image">
							<h3>Suggested Movies</h3>
							<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-cols-xl="10" md-row-height="2:3" md-gutter="8px">
								<md-grid-tile ng-repeat="movie in movies.suggestions.data.movies|limitTo:12" class="md-whiteframe-2dp" md-colspan-sm="1" md-colspan-xs="1">
									<md-grid-tile-header style="background:rgba(0,0,0,0);height:100%" ng-click="initMovie(movie);loadMovie(movie)"></md-grid-tile-header>
									<md-grid-tile-footer style="background:linear-gradient(to bottom,rgba(40,44,52,0),rgba(40,44,52,0.8));height:26px" ng-click="initMovie(movie);loadMovie(movie)"></md-grid-tile-footer>
									<img ng-src="{{movie.medium_cover_image}}" class="md-card-image" style="width:100%;height:100%">
								</md-grid-tile>
							</md-grid-list>
						</div>
					</div>
					<div role="tabpanel" id="config-page" aria-labelledby="tab4" ng-switch-when="4" md-swipe-left="next()" md-swipe-right="previous()" layout-align="center center" layout-margin>
						<h3>Soon!</h3>
					</div>
				</ng-switch>
			</md-content>
		</div>
		<div id="gradient"></div>
	</body>
</html>